* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  margin: 5% 9% 0% 11%;
}
.page-not-found p {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.3rem;
  text-transform: uppercase;
  color: #333333;
}

.scare-crow-img {
  display: flex;
  margin: 17% auto;
  align-items: center;
  width: 85%;
}
.heading h1 {
  /* border: 2px solid green; */
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.7rem;
  letter-spacing: -0.00005em;
  width: fit-content;
  color: #333333;
  margin-bottom: 9%;
}
.paragraph p {
  width: fit-content;
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.3rem;
  letter-spacing: -0.035em;
  /* Gray 2 */
  color: #4f4f4f;
  margin-bottom: 20%;
}
button {
  width: 60%;
  padding: 5% 2%;
  border: none;
  background: #333333;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.1rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
}
.username {
  margin-top: 15%;
  display: flex;
  align-items: center;
}
.username p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1rem;
  display: flex;
  text-align: center;

  color: #bdbdbd;
}

@media screen and (min-width: 992px) {
  .container {
    margin: 3% 10%;
  }
  .main {
    /* border: 5px solid rgb(57, 173, 53); */
    display: flex;
  }
  .page-not-found {
    margin-left: 8%;
  }
  .left-img-box {
    /* border: 5px solid green; */
    width: 50%;

    display: flex;
    align-items: center;
  }
  .scare-crow-img {
    margin-right: 5%;
    width: 75%;
  }
  .right-text-box .error-text {
    /* border:5px solid hotpink; */
    margin: 22% 10% 20% 20%;
    width: 80%;
  }
  .heading h1 {
    font-size: 3.9rem;
    line-height: 6rem;
    margin-bottom: 5%;
  }
  .paragraph p {
    width: 48%;
    line-height: 1.3rem;
    margin-bottom: 10%;
  }
  button {
    width: 30%;
    padding: 3% 1%;
  }
  .username {
    margin-top: 3%;
  }
  .username p {
    margin: 0px auto;
  }
}
